<h4>Problem Statement</h4>
Classification: Decision Tree  
Dataset: madfhantr.csv 
Dream Housing Finance company deals in all kinds of home loans. They have 
presence across all urban, semi urban and rural areas. 
Customer first applies for home loan and after that company validates the 
customer eligibility for loan. 
Company wants to automate the loan eligibility process (real time) based on 
customer detail provided while filling online application form. These  details 
are Gender, Marital Status, Education, Number of Dependents, Income, Loan 
Amount, Credit History and others. To automate this process, they have 
provided a dataset to identify the customers segments that are eligible for loan 
amount so that they  can 
specifically target these customers

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [2]:
# Load the dataset
df = pd.read_csv('/Users/namanlabhsetwar/Desktop/Sem 5 Practical/ML- Lab Assignments/LP-1 Dataset/Decision Tree & Naive Bayes Classification/madfhantr.csv')

In [9]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [10]:
# Assuming 'Loan_Status' is the target variable that you want to predict
# You may need to modify the target variable based on your dataset
X = df.drop('Loan_Status', axis=1) #axis=1 means column
# X = df.iloc[:, :-1].values
y = df['Loan_Status']
# y = df.iloc[:, -1].values

In [11]:
label_encoder = LabelEncoder()
X_encoded = X.apply(label_encoder.fit_transform)

In [8]:
X_encoded

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,0,1,0,0,0,0,376,0,203,8,1,2
1,1,1,1,1,0,0,306,60,81,8,1,0
2,2,1,1,0,0,1,139,0,26,8,1,2
3,3,1,1,0,1,0,90,160,73,8,1,2
4,4,1,0,0,0,0,381,0,94,8,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
609,609,0,0,0,0,0,125,0,29,8,1,0
610,610,1,1,3,0,0,275,0,7,5,1,0
611,611,1,1,1,0,0,431,3,162,8,1,2
612,612,1,1,2,0,0,422,0,132,8,1,2
613,613,0,0,0,0,1,306,0,86,8,0,1

In [12]:
X_encoded.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [6]:
# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.2, random_state=42)

In [7]:
# Create a decision tree classifier
clf = DecisionTreeClassifier()

clf.fit(X_train, y_train)

# Make predictions on the test set
y_pred = clf.predict(X_test)

In [9]:
# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred)

In [10]:

print(f'Accuracy: {accuracy}')
print(f'Confusion Matrix:\n{conf_matrix}')
print(f'Classification Report:\n{classification_rep}')

Accuracy: 0.6585365853658537
Confusion Matrix:
[[21 22]
 [20 60]]
Classification Report:
              precision    recall  f1-score   support

           N       0.51      0.49      0.50        43
           Y       0.73      0.75      0.74        80

    accuracy                           0.66       123
   macro avg       0.62      0.62      0.62       123
weighted avg       0.65      0.66      0.66       123